/* .spacer {
    height: 100px;
    background-color: #393E46;
} */

.container {
    background-color: #393E46;
    height: 200vh;
    /* t-content: center; */
    align-items: center;
}
/* bio */
#bio {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    position: fixed;
    top: 50%;
    color: #EEEEEE;
    animation: p-fade ease-in-out;
    animation-timeline: scroll();
}

@keyframes p-fade {
    0% {
        opacity: 0%;
        top: 45%;
    }
    30% {
        opacity: 0%;
        top: 45%; 
    }
    35% {
        opacity: 100%;
        top: 40%;
    }
    70% {
        filter: blur(0px);
        opacity: 100%;
        top: 40%;
        position: fixed;
    }
    100% {
        filter: blur(5px);
        opacity: 0%;
        top: 30%;
        visibility: 0;
    }
    
}


