.navbar {
    background-color: rgb(34, 40, 49);
    margin: 0px;
    position: fixed;
    z-index: 30;
    display: flex;
    width: 100%;
    color: #EEEEEE;
    padding: 0;
    text-decoration: none;
    height: 40px;
}
#elements
{
    display: flex;
    list-style-type: none; /* Removes the default bullets */
    padding: 0; /* Removes the default padding */
    margin: 0; 
    align-items: center;
    text-align: center;
}

#li-1
{
    /* list-style: none; */
    margin-right: auto;
}
p {
    margin: 0px;
}

/* #navbar
{
    background-color: rgb(34,40,49);
}
#elements
{
    color: aliceblue;
    margin-top: 0;
    padding: 0;
} */