.navbar {
    position: fixed;
    background-color: #222831;
    display: flex;
    height: 60px;
    font-family: "Lato";
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 100;
}

.logo {
    display: flex;
    justify-items: start;
}

.heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    /* font-size: 18px; */
    white-space: nowrap;
    animation: to-top; 
    animation-timeline: scroll();
}
.menu {
    display: flex;
}
.heading, .logo, .menu {
    padding: 10px;
}

#CONTACT {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

@keyframes to-top {
    0%{
        top: 500%;
        font-size: 15vh;
        /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
    }

    30% {
        top: 300%;
        font-size: 7vh;
    }

    70% {
        top: 300%;
        font-size: 7vh;
        /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
    }
    100% {
        top: 16%;
        font-size: 18px;
        box-shadow: 0;
        /* text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); */
    }
}