<div class="container">
    <div class="parent" #grid>
      <div class="div1 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Frontend</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Angular</li>
                    <li>HTML5, CSS3</li>
                    <li>TypeScript</li>
                    <li>GSAP Animations</li>
                    <li>Bootstrap</li>
                    <li>PrimeNG</li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div2 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Backend</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Java Spring Boot</li>
                    <li>FastAPI (Python)</li>
                    <li>RESTful APIs</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div3 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>IoT & Embedded</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>ESP32</li>
                    <li>Aduino IDE</li>
                    <li>Sensor integration</li>
                    <li>Real-time alerts & control</li>
                    <li>Data transfer to backend</li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div4 grid-item" id="child">
            <p>SKILLS</p>
      </div>
      <div class="div5 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Beyond Code</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Photography</li>
                    <li>Music</li>
                    <li>Photo/Video Editing</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div6 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Languages</p>
            </div>
            <div class="flip-card-back">
              <ul>
                <li>C/C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>TypeScript</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div7 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Tools/Technologies</p>
            </div>
            <div class="flip-card-back">
              <ul>
                <li>Git/GitHub</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>Tailwind CSS</li>
                <li>GTK4</li>
                <li>PyGame</li>
                <li>VS Code</li>
                <li>Postman</li>
                <li>Linux</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div8 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>AI and ML</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Object classification</li>
                    <li>Freshness prediction</li>
                    <li>Computer vision pipelines</li>
                    <li>Smart surveillance use cases</li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="div9 grid-item" id="child">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p>Data Visualization</p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Real-time dashboards</li>
                    <li>Chart integration in Angular</li>
                    <li>Sensor data plotting</li>
                    <li>Heat index calculations</li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
