@media (max-width: 768px) {
    app-hero-section {
      margin-top: -40px;
    }
}

.app-container {
    /* overflow: hidden; */ /* <-- REMOVE OR COMMENT OUT THIS LINE */
    position: relative;
}
.about-section {
    margin-top: -100vh; /* Adjust this value as needed */
    position: relative;
    z-index: 2; /* Optional: ensures it overlaps correctly */
}
.skills-section {
    margin-top: 100px;
}

.projects-section {
  margin-top: 100px;
}

.contact-section {
  margin-top: 100px;
}
